<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>USER REGISTRATION</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>User Registration</h1>
    <form action="/register" method="POST">
        <div class="inputBox">
            <input type="text" name="nume" required>
            <span>Nume</span>
        </div>
        <div class="inputBox">
            <input type="text" name="prenume" required>
            <span>Prenume</span>
        </div>
        <div class="inputBox">
            <input type="text" name="companie" required>
            <span>Companie</span>
        </div>
        <div class="inputBox">
            <input type="text" name="idManager" required>
            <span>IdManager</span>
        </div>
        <div class="inputBoxRegister">
            <input type="submit" value="Register">
        </div>
    </form>
</body>
</html>





